<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to flask</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<style>
   .con{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100vh;
    padding: 29px;
    }
</style>
<body>
    <div class="con pb-10">
        <h3>Huawei API Orbit Max Pro </h3>
        <div  id="loading" class="alert alert-primary" style="word-break: break-word;" role="alert">
            welcome...
          </div>
        <!-- <button class="btn btn-primary btn-block" onclick="clickMe('getsms')">CleckMe</button> -->
        <a class="btn btn-sm btn-primary mb-2 btn-block" href="#!" onclick="clickMe('getsms')">Get First SMS</a>
        <a class="btn btn-sm btn-secondary mb-2  btn-block" href="#!" onclick="clickMe('modemstatus')">Modem Status</a>
        <a class="btn btn-sm btn-info mb-2  btn-block" href="#!" onclick="clickMe('mon')">Monitoring</a>
        <a class="btn btn-sm btn-success mb-2  btn-block" href="#!" onclick="clickMe('modemon')">Modem On</a>
        <a class="btn btn-sm btn-danger mb-2  btn-block" href="#!" onclick="clickMe('modemoff')">Modem Off</a>
        <a class="btn btn-sm btn-warning mb-2  btn-block" href="#!" onclick="clickMe('reboot')">Reboot Modem</a>
    </div>

    <script>
         const actionMode = (endpoint) => {
            document.querySelector("#loading").innerHTML ="Loading..."
                loading = true
                fetch("/" + endpoint).then(data =>  data.json())
                .then(res => {
                    document.querySelector("#loading").innerHTML = "RESPONSE: " + JSON.stringify(res)
                    console.log(res)
                })
                .catch(err => {
                    document.querySelector("#loading").innerHTML = "ERR: " +  err
                    console.log("ERR: ", err)
                })
        }
        const clickMe = (endpoint, confstatus = true) =>{
            if(confstatus){
                const conf = confirm("Ngana yakin?")
                if(conf){
                    actionMode(endpoint)
                }
            }else{
                actionMode(endpoint)
            }
        }
        (() =>  clickMe('modemstatus', false))()
      
    </script>

</body>
</html>